@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/**
  *
  *   variables 
  */

/* text colors */
$very-desaturated-blue: hsl(238, 29%, 16%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$soft-red: hsl(14, 88%, 65%);

/* background gradient */
$bg-gradient-violet: hsl(273, 75%, 66%);
$bg-gradient-soft-blue: hsl(240, 73%, 65%);

/* dividers */
$light-grayish-blue: hsl(240, 5%, 91%);

/* font-sizes */
$font-size-m: 14px;
$font-size-xl: 3rem;

/* font-weights */
$font-weight-m: 400;
$font-weight-xl: 700;

/* media queries */
$screen-m: 90rem;

/**
  *
  *   css reset 
  */

* {
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
}

body,
h1,
h5 {
  margin: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: $font-size-m;
  color: $very-desaturated-blue;
  background: linear-gradient(to bottom, $bg-gradient-violet, $bg-gradient-soft-blue) no-repeat;
  background-attachment: fixed;
}

/**
  *
  *   styling 
  */

main {
}

main {
  display: flex;
}

.faq {
  width: 85vw;
  margin: 10rem auto 2rem auto;

  border-radius: 15px;
  background: #fff;
  text-align: center;

  @media screen and (min-width: $screen-m) {
    display: flex;
    width: 70vw;
    position: relative;

    &::after {
      content: url('./images/illustration-box-desktop.svg');
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-48.5%, -50%);
    }
  }

  /* faq image */
  &-image {
    @media screen and (min-width: $screen-m) {
      min-width: 50% !important;
      overflow: hidden;
    }

    position: relative;

    &-mobile {
      &-image {
        transform: translate(0, -55%);
      }
      
      &-shadow {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-43.3%, 0);
      }

      @media screen and (min-width: $screen-m) {
        display: none;
      }
    }

    &-desktop {
      display: none;
    }

    @media screen and (min-width: $screen-m) {
      &-desktop {
        display: block;

        &-image {
          position: absolute;
          top: 43%;
          left: 0;
          transform: translate(-17%, -50%);
        }

        &-shadow {
          position: absolute;
          top: 30%;
          left: 0;
          transform: translate(-59.5%, -50%);
        }
      }
    }
  }

  /* faq title */
  &-title {
    font-weight: $font-weight-xl;
    font-size: $font-size-xl;
    margin-bottom: 2rem;

    @media screen and (min-width: $screen-m) {
      margin-top: 5rem;
      text-align: left;
    }
  }

  /* faq questions */
  &-questions {
    padding: 0 2rem 5rem 2rem;
    line-height: 1.5;

    @media screen and (min-width: $screen-m) {
      padding-right: 5rem;
    }
    
    &-question {
      margin: 1rem 0;

      border-bottom: 1px solid $light-grayish-blue;
      text-align: left;
      overflow: hidden;

      &-title {
        font-size: inherit;
        display: flex;
        cursor: pointer;
        padding-bottom: 1rem;
        font-weight: inherit;

        &:hover {
          color: $soft-red;
        }

        &::after {
          content: url('./images/icon-arrow-down.svg');
          margin-left: auto;
          transition: transform .35s; 
        }
      }

      &-answer {
        opacity: .6;
        max-height: 0;
        transition: max-height .35s, padding .35s;
        overflow: hidden;
      }

      /* active question */
      &.active &-title::after {
        transform: rotate(-180deg);
      }

      &.active &-answer {
        max-height: 100vh;
        padding-bottom: 1rem;
      }

      &.active &-title {
        font-weight: $font-weight-xl;
      }
    }
  }
}

.attribution {
  text-align: center;
  padding: 1rem;

  color: $light-grayish-blue;

  @media screen and (min-width: $screen-m) {
    margin-top: 8rem;
  }

  a {
    color: $very-desaturated-blue;

    &:hover {
      color: $soft-red;
    }
  }
}